body {
  margin: auto;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("./img/Background_imgs/background1.jpg");
  background-size: cover;
  background-position: center;
  backface-visibility: hidden;
  opacity: 0.89;
}

button {
  background-color: #492D25;
  color: white;
  padding: 14px 20px;
  margin: 5px;
  border: none;
  cursor: pointer;
  text-align: center;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal_content {
  width: 300px;
  margin: 50px auto;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
}
.modal_content input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 15px;
}
/* The Close Button */
.close {
  /* Position it in the top right corner outside of the modal */
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* STYLING FOR THE MAIN PAGE*/

.topnav {
  background-color: #FFF5EE;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: #8D5E2F;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #EABF7C;
  color: #492D25;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #EABF7C;
  color: #492D25;
}

.topnav button{
  margin: 5px;
  padding: 15px 20px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

/* STYLING THE CARD*/

/*
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-body {
  padding: 2px 16px;
}
*/

.card-container {
  display: flex;
  flex-wrap: wrap; /* Allow wrapping for multiple lines if needed */
  gap: 10px; /* Add spacing between cards */
}

.card {
  width: 250px; /* Adjust width as needed */
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  display: flex; /* Make card content a flexbox too */
  flex-direction: column; /* Arrange content vertically */
}

.card img {
  /*aspect-ratio: 25/30; /* Adjust aspect ratio based on image dimensions */
  /*object-fit: cover; /* Crop image to fit aspect ratio */
  width: 100%; /* Ensure image fills the card width */
  transition: transform 0.2s ease-in-out;
}
.card:hover img {
  transform: scale(1.1);
}

.card-content {
  flex: 1; /* Allow content to fill remaining space */
  margin-top: auto;
}